@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: 'Gotham';
    font-weight: 800;
}

body {
    background-color: #000000;
    height: 100vh;
    --primary: #ffffff;
    --secondary: #F40000;
}

header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

header a {
    color: var(--primary);
    font-size: 20px;
    text-transform: uppercase;
}