* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;

    --bg: #ddd;
    --item: lightgreen;
    --text: #000000;
    padding: 10px
}

header {
    padding: 10px;
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--text);
    margin-bottom: 20px;

}

.logo {
    background-color: var(--item);
    color: var(--text);
    padding: 10px;
    border: 1px solid var(--text);
}

.nav {
    background-color: var(--item);
    color: var(--text);
    padding: 10px;
    border: 1px solid var(--text);
    width: 50%;

}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-item {
    height: 400px;
    width: 100%;
    background-color: var(--bg);
    border: 1px solid var(--text);
    display: flex;
    justify-content: center;
    align-items: center;

}


.container-tilbud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    gap: 20px;
    background-color: var(--bg);
    border: 1px solid var(--text);
    padding: 10px;
    display: flex;
    align-items: center;
}

.tilbud-item {
    flex: 1;
    background-color: var(--item);
    border: 1px solid var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tilbud-1 {
    height: 80%;
    width: 80%;
}

.tilbud-2 {
    height: 50%;
    width: 50%;
}

.tilbud-3 {
    height: 30%;
    width: 30%;
}

footer {
    height: 50px;
    margin: 20px 0;
}

.container-footer {
    background-color: var(--bg);
    border: 1px solid var(--text);
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 1045px) {


    .container-tilbud {
        flex-direction: row-reverse;
    }
}